<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.landvibe.goodbeing.goodbeing_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SurveyWriteActivity"
            android:label="설문 작성"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="서비스 소개"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Intro_GB_Activity"
            android:label="굳빙 서비스란"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Intro_Purpose_Activity"
            android:label="굳빙 서비스의 목적"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>