<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.landvibe.goodbeing.goodbeing_android">

    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SurveySearchActivity"
            android:label="설문 선택"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="이력 관리"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SurveyResultActiviy"
            android:label="설문 결과"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".InspectionMeasureActivity"
            android:label="시료 측정"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".InspectionResultActivity"
            android:label="시료 측정 결과"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>


</manifest>